/* General */

* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
}
#root {
    background-color: rgb(148, 30, 30);
    height: 100vh;
}

.MContainer {
    position: relative;
    text-align: center;
    top: 4vh;
    width: 55vw;
    height: 96vh;
    left: 15vw;
}

/* Sidebar */

#sidebarContainer {
    position: fixed;
    right: 0;
    width: 14vw;
    height: 95vh;
    top: 4vh;
    background-color: rgb(144, 252, 122);
    border-top: 1vh solid black;
    border-left: 1vh solid black;
    z-index: 2;
}
.sidebarButton {
    background-color: rgb(251, 253, 108);
    border: 2px solid black;
    padding: 0.5vw;
    margin-top: 6vh;
    width: 60%;
}
.sidebarButton:hover {
    background-color: rgb(113, 197, 253);
}

/* SidebarForm */

#sidebarFormContainer {
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color:rgba(0, 0, 0, 0.9);
}
#sidebarFormSubContainer {
    position: relative;
    top: 5vh;
    left: 25vw;
    width: 50vw;
    min-height: 80vh;
    background-color: rgb(204, 253, 255);
    box-shadow: 0 0 2em 0.5em rgb(156, 248, 144) inset;
}
.sidebarFormColumnFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebarFormUlOl {
    list-style-type: none;
    padding: 0;
    word-break: break-all;
}
#sidebarFormButton {
    position: absolute;
    right: 0;
    font-weight: 900;
    font-size: 0.8em;
    width: 3vw;
    height: 3.9vh;
    background-color: rgb(250, 115, 66);
    border: none;
}
#sidebarFormButton:hover {
    background-color: rgb(255, 67, 67);
}
#sidebarFormButton:focus {
    outline: none;
}
.sidebarFormForm {
    position: relative;
    height: 3.7vh;
    margin-bottom: 4vh;

}
.sidebarFormInput {
    background-color: rgb(252, 255, 86);
    width: 13vw;
    height: inherit;
    text-transform: capitalize;
    border: 0;
    padding: 0;
}
.sidebarFormInputIngredientsButton {
    position: absolute;
    top: 0;
    right: 0;
    font-weight: 600;
    width: 15%;
    height: inherit;
    background-color: rgb(69, 223, 250);
    border: 0;
    padding: 0;
    outline: none;
}
.sidebarFormInputIngredientsButton:active {
    background-color: rgb(119, 255, 85);
}
.sidebarFormInputButton {
    background-color: rgb(69, 223, 250);
    width: 2vw;
    height: 4vh;
    font-weight: 600;
    border: 0;
}
.sidebarFormInputButton:active {
    background-color: rgb(119, 255, 85);

}
.sidebarFormInputButton:focus {
    outline: none;
}
.sidebarFormRecipeForm {
    display: flex;
    flex-direction: column;
    margin-bottom: 4vh;
}
.sidebarFormTextarea {
    resize: none;
    width: 12vw;
    padding: 0.5vw;
    height: 20vh;
    margin: 0;
    color: rgb(252, 255, 86);
    background-color: rgb(77, 77, 77);
    border: none;
}
.sidebarFormTextarea:focus {
    outline: none;
}
.sidebarFormTextareaButton {
    width: 13vw;
    height: 4vh;
}
#sidebarFormSubmitForm {
    position: relative;
    top: 5vh;
    width: 50vw;
    margin-left: 25vw;
    margin-bottom: 7vh;
}
#recipeFormInput {
    width: 100%;
    padding: 0;
    height: 4vh;    
    text-align: center;
}
#recipeFormSubmit {
    width: 100%;
}

/* IngredientsDirection */

.ingredientsDirectionLi {
    position: relative;
    margin-bottom: 2vh;
    width: 13vw;
    min-height: 2.5vh;
    background-color: rgb(110, 109, 109);
    color:rgb(252, 255, 86);
    text-transform: capitalize;
}
.ingredientsDirectionInput {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1vw;
    font-weight: 600;
    width: 10%;
    height: 100%;
    background-color: rgb(255, 67, 67);
    border: 0;
    padding: 0;
}
/* Nav */

#navContainer {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 4vh;
    background-color: rgb(255, 255, 117);
    border-bottom: 1vh solid black;
    z-index: 2;
}
.navLink {
    color: black;
    font-size: 1.6em;
    text-decoration: none;
}

/* Recipes */

#recipesCurrently {
    position: relative;
    top: 5.5vh;
    background-color: rgb(248, 190, 103);
    height: 86vh;
    padding: 0.3vw;
    border: 4px solid black;
    border-radius: 0.7vw;
}
#recipesCurrentlyTop {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 4.5vh;
    background-color: rgb(250, 150, 150);
    border-bottom: 4px solid black;
    border-top-left-radius: 0.5vw;
    border-top-right-radius: 0.5vw;
}
#recipesCurrentlyBottom {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 4.5vh;
    background-color: rgb(250, 150, 150);
    border-top: 5px solid black;
    border-bottom-left-radius: 0.5vw;
    border-bottom-right-radius: 0.5vw;
}
#ingredientsDirection {
    position: relative;
    display: flex;
    justify-content: space-around;
    top: 5vh;
    height: 70vh;

}
#ingredients {
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
}
#direction {
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
}